<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCTV Thermal HVAC</title>
    <style>
      #video-container {
        text-align: center;
      }
      #video-feed {
        width: 100%;
        max-width: 800px;
      }
      #controls {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div id="video-container">
      <h1>Video Stream</h1>
      <img id="video-feed" src="{{ url_for('video_feed') }}" />
      <div id="controls">
        <button onclick="toggleVideo('webcam')">Webcam</button>
        <button onclick="toggleVideo('thermal')">Thermal</button>
        <button onclick="toggleOff()">Turn Off</button>
      </div>
    </div>
    <script>
      function toggleVideo(source) {
        const formData = new FormData();
        formData.append("video_source", source);
        fetch("/toggle_video", {
          method: "POST",
          body: formData,
        }).then((response) => {
          if (response.ok) {
            console.log(`${source} video source selected.`);
          } else {
            console.error("Failed to toggle video source.");
          }
        });
      }

      function toggleOff() {
        fetch("/toggle_off", {
          method: "POST",
        }).then((response) => {
          if (response.ok) {
            console.log("Server turned off.");
          } else {
            console.error("Failed to turn off server.");
          }
        });
      }
    </script>
  </body>
</html>

<!-- YOLO DAN WEBCAM -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>USER INTERFACE</title>

</head>
<body>
    <h1> Video Capture </h1>
    <div class="video-container">
        <img src="{{ url_for('video_feed') }}" width="800">
    </div>
</body>
</html> -->

<!-- VIDIO THERMAL ONLY -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Feed</title>
</head>
<body>
    <h1>Video Stream</h1>
    <img src="{{ url_for('video_feed') }}" width="80%">
</body>
</html> -->
